/* Add styling for your page here */

.App {
    display: grid;
    grid-template-columns: 98%;
    grid-gap: 1%;
    justify-content: center;
    text-align: center;
}

.BakeryGrid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 1%;
    justify-content: center;
    grid-auto-rows: max-content;
}

.BakeryItem {
    text-align: center;
}